[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPTKDE
Comment=Qt desktop client for OpenAI ChatGPT
Exec="/home/von/qt6 projects/ChatGPTKDE_beta/build/ChatGPTKDE"
Icon=/home/von/qt6 projects/ChatGPTKDE_beta/assets/chatgpt-icon.png
Terminal=false
Categories=Utility;Network;
StartupNotify=false
StartupWMClass=chatgptkde
Path=/home/von/qt6 projects/ChatGPTKDE_beta
